<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSetting>
    <add Key = "AdminLoginId" value = "admin"/>
    <add key = "AdminPassword" value= "123"/>

  </appSetting>
  <connectionStrings>
    <add name ="Myconn" connectionString="Data source=DataBase; Initial Catalog=AntakhaDB; Integrated security=True" providerName="System.Data,SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug ="true" targetFramework="4.0" />
  </system.web>
</configuration>